<p id="notice"><%= notice %></p>

<p>
  <strong>Type name:</strong>
  <%= @user_type.type_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_type.description %>
</p>

<%= link_to 'Edit', edit_user_type_path(@user_type) %> |
<%= link_to 'Back', user_types_path %>
